<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <img src="/img/mouse">
        <p>This is: {{name}}</p>
        <p>This is the page for testing and practice purpose</p>
        {{>footer}}
    </body>
</html>